@model IEnumerable<MvcSalesforce.Models.Search>

@{
    ViewBag.Title = "RunningSearch";
}

<h2>RunningSearch</h2>

<div>
    <p>
        Please be patient ... this may take up to 4 hours.
    </p>
</div>