@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbo">
    <h1>Property.Connection</h1>
    <p class="lead">Madison Neighborhood Property Search</p>
    <p><a href="http://localhost:41560/SiteUsers/Create" class="btn btn-primary btn-lg">Search &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="homePageLead">LIVE</h2>
        <p>
            The city of Madison is regularly ranked among the top cities in the nation. Get to know it's neighborhoods and community offerings.
        </p>
        <p><a class="btn btn-default" href="https://www.cityofmadison.com/live-work">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="homePageLead">WORK</h2>
        <p>Among the most stable local economies in the state Madison offers opportunity for business development and employment.</p>
        <p><a class="btn btn-default" href="https://www.cityofmadison.com/business-development">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="homePageLead">PLAY</h2>
        <p>As an active community the city of Madison offers many cultural events, and opportunties for family friendly activity.</p>
        <p><a class="btn btn-default" href="https://www.cityofmadison.com/visit-play">Learn more &raquo;</a></p>
    </div>
</div>

<hr />

<div id="salesforcePanel">
    <h3 id="adminHead">Salesforce Admin Links</h3>
    <ol>
        <li><a class="salesForceAdminLink" href="http://localhost:41560/SiteUsers/Index">Site Users</a></li>
        <li><a class="salesForceAdminLink" href="http://localhost:41560/Searches/Index">User Searches</a></li>
        <li><a class="salesForceAdminLink" href="http://localhost:41560/Accounts">Accounts</a></li>
        <li><a class="salesForceAdminLink" href="http://localhost:41560/Contacts">Contacts</a></li>
    </ol>
</div>